.start__header{
    position: absolute;
    max-width: 1760px;
    display: flex;

    .start__header-logo{
        img{
            // width: 108px;
            // height: 24px;
        }
    }
    .start__header-menu{
        .start__header-menu-items{
            display: flex;
            .start__header-menu-item{

            }
        }
    }
}